/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  @apply bg-black text-white;
}

body {
  @apply min-h-screen;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
